<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{ PUBLIC_STATIC_URL }}css/style.css" />
	</head>
	<body>
	    <div class="msg-box logout">
	    	<div>
		    	<div class="ib corner left-corner">
		    	</div><div class="ib center center-login">
		    	Olete välja logitud</div><div class="ib corner right-corner"></div>
	   		</div>
	   		
	   		<div class="content">
	   			<div class="ib msg">Uuesti sisenemiseks klikkige allpool oleval nupul</div>
	   		</div>
	   		
	   		<div id="button-bar" class="content">
	   			<button onclick="window.location='/'">Sisenen</button>
	   		</div>
	    </div> 
	    <img style="position: fixed; right: 0px; bottom: 0px; margin: 32px;" src='{{ PUBLIC_STATIC_URL }}images/sarv.png'/>
    </body>
</html>
